// Media queries breakpoints
@screen-tiny:           320px;
@screen-tiny-max:       (@screen-xs-min - 1);
@screen-xs-min:         320px;
@screen-xs-max:         (@screen-sm-min - 1);
@screen-sm-min:         450px;
@screen-sm-max:         (@screen-md-min - 1);
@screen-md-min:         850px;
@screen-md-max:         (@screen-lg-min - 1);
@screen-lg-min:         1200px;
@screen-huge-min:       1600px;

// container settings
@max-container-width: 1000px;
@container-spacing-xs: 15px;
@container-spacing-sm: 30px;


// == the classes
